h1{
    color: blue;
    font-family: 'Courier New', Courier, monospace
}

p{
    color: bisque;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.heading{   
    color: aqua;
}
#b{
    color: yellow;
    
}